<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <h1><%= orders.length     %></h1>
        <main>
            <% if (orders.length < 1) { %>
            <h1>Nothing there!</h1>
            <% } else { %>
                <ul>
                    <% orders.forEach(order => { %>
                        <li>
                            <h1># <%= order._id %></h1>
                            <ul>
                                <% order.items.forEach((item) => { %>
                                    <li><%= item.name %>(<%= item.quantity %>)</li>
                                <% }) %>
                            </ul>
                        </li>
                    <% }) %>
                </ul>
            <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>